setuptools>=67
wheel
gunicorn
Django==2.1.7
mysqlclient
asgiref==2.3.2
cffi==1.15.1
colorama==0.4.5
crayons==0.3.0
cryptography==40.0.2
cryptosteganography==0.8.3
exitstatus==1.4.0
joblib==1.1.1
numpy>=1.21,<1.26
